<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfile" xsi:type="File" fileName="${CurrentDir}/../logs/log_${date:format=yyyyMMdd}.log">
            <layout>{"date": "${longdate}", "level": "${level:uppercase=true}", "logger": "${logger}", "message": "${message}", "levelName": "${level}", "stackTrace": "${stacktrace}", "exception": "${exception:format=Message,StackTrace}", "threadId": "${threadid}"}</layout>
        </target>

		<target name="logconsole" xsi:type="Console">
			<layout>${longdate} [${level}] ${logger} ${message} ${exception:format=Message}</layout>
		</target>
    </targets>

    <rules>
		<!-- 특정 네임스페이스에 대해서만 필터링 -->
		<logger name="Microsoft.AspNetCore.Mvc.ModelBinding.ModelBinderFactory*" minlevel="Warn" writeTo="logfile,logconsole" />
		<logger name="WebStudyServer.Startup" minlevel="Warn"  writeTo="logfile,logconsole"/>
		<logger name="*" minlevel="Debug" writeTo="logfile,logconsole" />
    </rules>
</nlog>